<div class="container__wrapper">
  <section class="formulario">
    <h2>Publicar nueva noticia</h2>
    <div class="form">
    <!--
    <form (submit)="publicar(); $event.preventDefault()">

      <input [(ngModel)]="titulo" name="titulo" placeholder="Título" required />  -->
      <!-- LAN0 : Modificacion Realizada despues de la clase 20250701 -->
      <input #tituloInput name="titulo" placeholder="Título" required />
      <input
        #imagenInput
        name="imagen"
        placeholder="https://placehold.co/200x120"
        required
      />
      <textarea
        #textoInput
        name="texto"
        placeholder="Texto de la noticia"
        required
      ></textarea>
      <input #fechaInput name="fecha" type="date" required />
      <!-- <button type="submit">Publicar</button> -->
       <button (click)="publicar(tituloInput.value,imagenInput.value,textoInput.value,fechaInput.value)">Publicar</button>
    </div>  
    <!--</form> -->

    <!-- Si tenemos errores en el formulario, mostramos que campo/s es necesario rellenar -->
    @if (formError()){
    <div class="form-error">
      {{ formError() }}
    </div>
    }
  </section>

  <hr />

  <section class="noticias">
    <div class="noticias-wrapper">
      <h2>Vista de noticia destacada</h2>
      <div class="noticias-container-wrapper">
        @for(noticia of noticias();track noticia.titulo) {
        <app-new-view-component
          [titulo]="noticia.titulo"
          [imagen]="noticia.imagen"
          [texto]="noticia.texto"
          [fecha]="noticia.fecha"
        >
        </app-new-view-component>
        }
      </div>
    </div>
  </section>
</div>
