/* Inicio Estilos genericos de html */
.main-body {
  font-family: "Open Sans", sans-serif;
}

.container__wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

.line-bottom {
  border-bottom: 1px solid #ccc;
}
/* Final Estilos genericos de html */

/* Inicio Estilos footer */
.container__wrapper-footer {
  text-align: center;
  padding: 2rem;
  font-weight: bold;
  font-size: 1rem;
}
/* Final Estilos footer */